# This ignores everything by default, except for package.json and LICENSE and README.md.
# See https://docs.npmjs.com/misc/developers
**/*

# Include sources from lib, but not map files.
!lib/**/*.js
# Include generated types, but not map files (they reference src/, which is not published).
!types/src/*.d.ts
